.TournamentPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 50px;
  min-width: 200px;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 4px #000;
  padding: 20px;
  border-radius: 10px;
}

.player {
  width: 100%;
  padding: 5px;
  text-align: center;
  animation: fadeIn 1s forwards;
  border: 1px solid black;
  border-bottom: none;
  background-color: rgba(255, 153, 0, 0.5);
}

.player:nth-child(odd) {
  background-color: rgba(255, 204, 0, 0.5);
}

.player:last-child {
  border-bottom: 1px solid black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}