.TournamentPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 50px 0 50px;
  min-width: 200px;
}

.player {
  width: 100%;
  padding: 5px;
  text-align: center;
  animation: fadeIn 1s forwards;
  border: 1px solid black;
  border-bottom: none;
  background-color: rgba(0, 135, 0, 0.5);
}

.player:nth-child(odd) {
  background-color: rgba(0, 70, 0, 0.5);
}

.player:last-child {
  border-bottom: 1px solid black;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}