.App {
  display: flex;
  flex-direction: row;
}

.pre-tournament{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.tournament-info {
  display: flex;
  flex-direction: row;
  position: relative;
  min-width: 100vw;
  min-height: 100vh;
}

.tournament-info:after {
  content: "";
  background-image: url(https://i.pinimg.com/originals/a5/be/35/a5be3512095384c4d9c1dbe8e336cda7.jpg);
  background-repeat: repeat;
  opacity: 0.05;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;   
}

#submit-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-size: 30px;
  position: absolute;
  left: 49%;
  top: 38%;
  transform: translateX(-50%);
  font-family: 'Verdana';
  color: black;
}

#submit-player > * {
  font-family: 'Verdana';
  border-radius: 8px;
  margin: 16px 5px 0 5px;
  padding: 0 5px;
  background-color: ;
}

.title {
  position: relative;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.title:after {
  content: ' ';
  display: block;
  width: 100%;
  bottom: 0;
  height: 2px;
  background-color: #000;
}