.App {
  display: flex;
  flex-direction: row;
}

.pre-tournament{
  display: flex;
  flex-direction: row;
}

.tournament-info {
  display: flex;
  flex-direction: row;
}

.team-intro-parent {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  left: 0;
  right: 0;
  z-index: 1000;
}

.team-intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: black;
  left: 0;
  right: 0;
  z-index: 1000;
  color: white;
}

.team-intro-name {
  font-size: 80px;
}

.team-intro-image {
  max-width: 1000px;
  max-height: 1000px;
  margin: 50px;
}

.team-intro-players {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.team-intro-players.hidden {
  opacity: 0;
}

.team-intro-player {
  font-size: 60px;
  margin: 0 30px;
}

.team-intro-and {
  font-size: 40px;
}

#submit-player {
  margin: 20px;
  font-size: 26px;
}


.title {
  position: relative;
  font-size: 26px;
  font-weight: bold;
  padding-bottom: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}

.title:after {
  content: ' ';
  display: block;
  width: 100%;
  bottom: 0;
  height: 2px;
  background-color: #000;
}