.TournamentCurrentMatches {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px;
}

.player-names {
	font-size: 10px;
}

.player-names span.vs {
  font-size: 8px;
  margin: 0 10px;
}